server:
  port: 9010

spring:
  application:
    name: TripMS

eureka:
  instance:
    prefer-ip-address: true
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: "http://localhost:8070/eureka/"

management:
  endpoints:
    web:
      exposure:
        include: "*"


info:
  app:
    name: "${spring.application.name}"
    description: "Trip Microservice for Displaying All Trips in the Application"
    version: "1.0.0"